#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  background-color: rgba(0, 0, 0, 0);
  
}

li {
  list-style-type: none;
  display: inline;
}

.nav-bar > ul > li {
  margin-left: 3em;
}

.nav-bar > ul > li > button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nav-bar > ul > li > button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0.1em;
  display: flex;
  text-align: center;
}
